:is(.allpagesredirect,.watchlistredir) > .mw-redirect{
    color:#0b0
}
.mw-parser-output h3{
    border-bottom:dotted 1px #aaa
}
.nowrap{
    white-space:nowrap
}
.thumbinner{
    min-width:100px
}
:is(.colonnes,.references-small) li{
    page-break-inside:avoid;
    break-inside:avoid-column
}
.references-small:is(.lower-alpha,.lower-greek,.lower-roman) ol ol{
    list-style-type:decimal
}
:is(.homonymie,.bandeau-section) .bandeau-icone{
    width:auto;
    padding-right:0.5em
}
table:is(.alternance,.alternance2) > * > tr > th{
    background-color:#e6e6e6
}
:is(caption,th) .mw-collapsible-toggle{
    margin-inline-start:0.3em
}
#bandeau-portail{
    border:solid #aaa 1px;
    background-color:#f9f9f9;
    text-align:center;
    margin-top:1em
}
#bandeau-portail{
    padding:4px;
    margin-left:0;
    clear:both
}
#bandeau-portail li{
    display:inline
}
.bandeau-portail-element{
    white-space:nowrap;
    margin:0 1.5em
}
.bandeau-portail-icone{
    margin-right:0.5em
}
.bandeau-portail-texte{
    font-weight:bold
}
.infobox_v2{
    background:#f9f9f9;
    color:#000;
    font-size:90%;
    line-height:1.2em;
    float:right;
    clear:right;
    margin:0 0 0.5em 1em;
    width:294px;
    border:1px solid #aaa;
    border-spacing:5px
}
.infobox_v2 th{
    vertical-align:super;
    text-align:left
}
.infobox_v2 .entete{
    height:43px;
    vertical-align:middle;
    text-align:center;
    font-size:140%;
    font-weight:bolder;
    line-height:1.1em;
    color:#000
}
.entete{
    background-position:right center;
    background-repeat:no-repeat
}
body:not(.skin-vector-legacy) #p-lang-btn ul{
    margin-left:30px
}
@media print{
    .bandeau-portail{
        display:none
    }
    ul{
        padding-left:0.8em
    }
    h2,h3{
        page-break-after:avoid
    }
    #contentSub{
        display:none
    }
}
